<!DOCTYPE HTML>
<html>
    <body>
      <h4>Hello, fellow student. The following questions should not freak you out. Rather, they'll get you to think about your day-to-day activities amongst all the hectic happenings during finals.</h4>
      <h4>Answer the questions to the best of your knowledge...or just half-ass them if you need to save your brain juice!</h4>
      
      <form action="http://itp.nyu.edu/~jab680/sinatra/final/step1" method="POST">
      <p><label>To begin, please enter your name: </label><input type="text" name="name" /><input type="submit" value="Continue" /></p>
      </form>
    </body>
</html>