<!DOCTYPE HTML>
<html>
    <body>
        <form action="http://itp.nyu.edu/~jab680/sinatra/final/step4" method="POST">
            
            <p>How many adult beverages have you had per day, starting Friday of last week?<br>
            <em>Please enter 0 if 0 drinks</em></p>
            <p><label>Friday: </label><input type="integer" name="friday" size="10" /></p>
            <p><label>Saturday: </label><input type="integer" name="saturday" size="10" /></p>
            <p><label>Sunday: </label><input type="integer" name="sunday" size="10" /></p>
            <p><label>Monday: </label><input type="integer" name="monday" size="10" /></p>
            <p><label>Tuesday: </label><input type="integer" name="tuesday" size="10" /></p>
            <p><label>Wednesday: </label><input type="integer" name="wednesday" size="10" /></p>
            <br>
            <p><strong>OK, let's be real now. How many drinks are you planning on having tonight?</p></strong>
            <p><label>Thursday (TNO): </label><input type="integer" name="thursday" size="10"</p>
            
            <p><input type="submit" value="Continue" /></p>
        </form>
    </body>
</html>