<!DOCTYPE HTML>
    <html>
    <body>
        <form action="http://itp.nyu.edu/~jab680/sinatra/final/step2" method="POST">
            <p><label>How many hours a day, on average, have you spent on the floor this past week? </label> <input type="integer" name="floorhours" size="10" /> hours per day </p>
            <br><p><strong>Pop Quiz! It's MATH TIME!</strong></p>
            <p><label>Subtract the above value from 24, and enter this new value here: </label> <input type="integer" name="lifehours" size="10" /></p>
        <input type="submit" value="Continue" /></p>
      </form>
  </body>
</html>