<!DOCTYPE HTML>
<html>
    <body>
        <form action="http://itp.nyu.edu/~jab680/sinatra/final/step3" method="POST">
            
            <p>How many times have you been to the following restaurants over the past week?<br>
            <em>Note: Please enter 0 if 0 times</em></p>
            
            <p><label>M2M: </label><input type="integer" name="m2m" size="10" /></p>
            <p><label>Chipotle: </label><input type="integer" name="chipotle" size="10" /></p>
            <p><label>Cafetasia: </label><input type="integer" name="cafetasia" size="10" /></p>
            <p><label>Pret-a-Manger: </label><input type="integer" name="pret" size="10" /></p>
            <p><label>Space Market: </label><input type="integer" name="space_market" size="10" /></p>
            <p><label>Pizza Mercato: </label><input type="integer" name="pizza_mercato" size="10" /></p>
            
            <input type="submit" value="Continue" /></p>
        </form>
    </body>
</html>