<!DOCTYPE HTML>
<html>
    <body>
        <form action="http://itp.nyu.edu/~jab680/sinatra/final/output" method="POST">
            
            <p>How many hours of sleep are you getting, on average, per day? <input type="integer" name="sleep" size="10" /> hours per day </p>
            <br><p><strong>Oh shit, another Pop Quiz!</strong></p>
            <p>Subtract the above value from 24, and enter this new value here: <input type="integer" name="awake" size="10" /></p>
            
            <p><input type="submit" value="Continue" /></p>
        </form>
    </body>
</html>